@{
  Layout = "_Layout";
}

@using PierreDeux.Models

<h1>Vendors</h1>

@if (@Model.Count == 0)
{
  <h3>There are no vendors in the list yet. Please add one below.</h3>
  <h3><a href='/vendors/new'>Add your first vendor</a></h3>
}
else
{
  <h3><a href='/vendors/new'>Add a new vendor</a></h3>
}

@foreach (Vendor vendor in Model)
{
  <h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3>
}

<p><a href='/'>Return to homepage</a></p>